table {
    border-collapse: collapse;
    width: 600px;
    margin-left: auto;
  margin-right: auto; 
    margin-bottom: 1rem;
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  /* form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto; 
    width: 500px;
    
  }
   */
  label {
    margin-bottom: 0.5rem;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 1rem;
  } 
  
   button[type="submit"] {
    align-self: flex-start;
  }
  
   .Addform{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto; 
    width: 500px;
    

   }
    /* Modal styles */



.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} 

.modal-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.modal-buttons button:first-child {
  background-color: #ccc;
}

.modal-buttons button:last-child {
  background-color: #f00;
}
/* .pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: #333;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.pagination a:hover {
  background-color: #f7f7f7;
}

.pagination .active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination .disabled {
  color: #ccc;
  pointer-events: none;
} */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  color: #333;
  padding: 5px 10px;
  width: 50px;
  margin: 0 5px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.pagination button:hover {
  background-color: #f7f7f7;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination button.disabled {
  color: #ccc;
  pointer-events: none;
}



  
  