.Login {
  padding-top: 10%;
  width: 300px;
  margin: 0 auto;
  padding: 70px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.loginbutton {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.error {
  color: #f00;
  margin-top: 10px;
  text-align: center;
}
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
}

.registration-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.registration-form label input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.registration-form button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.registration-form button[type="submit"]:hover {
  background-color: #3e8e41;
}
